saved-results{
	display: block;
	width: 100%;
	height: 30%;
	background-color: #FAFAFA;
	overflow: hidden;
	overflow-y: scroll;
}

calculator-display{
	display: block;
	height: 10%;
	text-align: right;
	font-size: 10vh;
	line-height: 100%;
	overflow: hidden;
	overflow-x: auto;
}

calculator-buttons{
	display: block;
	height: 60%;
}